.post-inner-content {
  text-align: center;
}

.read-more {
  text-align: center;
}

.read-more a {
  border-left: 2px solid #696969;
  border-right: 2px solid #696969;
  color: #696969;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
}

.entry-meta {
  font-size: 13px;
  color: #6b6b6b;
  word-wrap: break-word;
  font-family: "Lora", serif;
  line-height: 2;
}

.cat-item.cat-item-38 a {
  color: #696969;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-inner-content .cat-item:after {
  content: "";
  position: absolute;
  margin-top: 30px;
  left: 50%;
  height: 2px;
  width: 40px;
  margin-left: -20px;
  background: #a161bf;
}

.single-category {
  margin: 0;
  padding: 0;
  list-style: none;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.entry-title a {
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: italic;
  color: #444;
}

a {
  text-decoration: none !important; //TODO :cần xem lại important
}

a:hover {
  color: #a161bf !important;
}
