.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-button .btn {
  color: #696969;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
}
